/* CSS styles for the website */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  /* no horizontal scrolling */
}

/* header */
.main-header {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px #333;
}

.header-logo img {
  height: 50px;
  width: auto;
  margin: 0 20px;
}

.menu > li {
  position: relative;
  top: 5px;
}

.menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #333;
}

.nav-bar ul > li {
  margin: 0 10px
}

.nav-bar ul li a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-bar ul li a:hover {
  color: #6ef6f6;
}
/* header */

/* about */
.about {
  display: flex;
  justify-content: space-between;
  background-color: #d2d1d1;
}

.about-section {
  width: 50%;
  background-color: #565656;
}

.about-image-left img {
  height: 500px;
  width: 500px; 
}
/* about */

.products {
  background-color: wheat;
}

section {
  padding: 50px;
  color: #000000;
  margin: 0 50px;
  width: 100%;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

a {
  color: #002626;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #6ef6f6;
}

.landing {
  background-image: url(image/best-sticker-paper-for-a-cricut-11-of-12-683x1023.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  opacity: .8;
  padding: 20px;
  margin: 0;
  background-color: aliceblue;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.content {
  font-size: 18px;
  line-height: 1.5;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact-container {
  flex: 1;
}

.contact-form-container {
  flex: 1;
  margin-left: 50px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.contact-list img {
  height: 20px;
  width: auto;
  margin-right: 15px;
}


.contact-list li {
  display: flex;
  margin: 10px;
  align-items: center;
}

.contact-link {
  color: #015c5c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #6ef6f6;
}

.divider {
  border: none;
  height: 1px;
  background-color: #565656;
  margin: 20px 0;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #d2d1d1;
}

.contact-form textarea {
  resize: vertical;
  height: 100px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #00afaf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #6ef6f6;
}