/* CSS styles for the website */
* {
   /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.logo img, nav {
   margin: 0 50px;
}

nav ul li a:hover {
  color: #6ef6f6;
}

section {
  padding: 50px;
  color: #333;
  margin: 0 50px;
}

.landing {
   margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

video {
  width: 100%;
  height: 100vh;
  margin: 0 50px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #00afaf;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #6ef6f6;
}

footer {
   padding: 50px 50px 0;
   margin: 0 50px;
   color: #333;
}

#contact ul {
   list-style-type: none;
}

#contact img {
   height: 150px;
   width: auto;
   margin: 20px 50%;

}